#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 10px 10px 10px;
    gap: 18px;
  }
}

h3, h4, h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  padding: 6px;
  background: rgb(200, 87, 164);
  font-size: 17px;
  border: none;
  cursor: pointer;

  &:hover {
    background: rgb(169, 63, 135);
  }
}

/* Product Card */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.product-card {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 200px;
  align-items: flex-start;
  justify-content: space-between;
  width: fit-content;
  height: 285px;
  padding: 16px;
  text-align: left;
  border: 1px rgb(158, 158, 158) solid;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(75, 75, 75, 0.05);
}

.product-card .product-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, max-width 0.1s, max-height 0.1s;
}

.product-card .add-to-cart-btn {
  width: 30px;
  height: 30px;

  &:hover {
    cursor: pointer;
  }
}

.product-card .remove-btn {
  width: 20px;
  height: 20px;

  &:hover {
    cursor: pointer;
  }
}

.product-card .product-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.product-clickable-area {
  &:hover {
    cursor: pointer;
  }
}

.product-clickable-area:hover .product-img {
  transform: scale(1.1);
}

.product-clickable-area:hover h3 {
  text-decoration: underline;
  color: blue;
}

.product-img-container {
  position: relative;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

#product-availability {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 8px;
  padding: 4px 8px;
  padding-inline: 20px;
  background-color: rgb(200, 87, 164);
  color: white;
  border-radius: 40px;
  width: fit-content;
}

/* Filter Bar */
#filter-bar-vertical {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  width: 170px;
  min-width: 170px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(181, 181, 181);
}

.filter-catagory-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  width: 100%;
  background-color: white;
}

#filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0px;
}

#product-number {
  padding-left: 10px;
  border-left: 1px rgb(148, 148, 148) solid;
}

/* Input Fields */
select {
  padding: 10px 10px 10px 10px;
}

/* Multi Select DropDown */
.checkbox-container {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 10px 8px;
  cursor: pointer;

  &:hover {
    background-color: rgb(232, 232, 232);
  }
}

.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.filter-btn-popup {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 10%;
  left: 0px;
  min-width: 200px;
  z-index: 1;
  background-color: rgb(154, 149, 152);
}

/* Price Input */
.price-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: space-around;
  justify-self: space-around;
  gap: 0px;
  border: 1px solid #2f2f2f;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
  cursor: text;
  width: 100%;
  height: 20px;
  color: black;

  &:hover {
    border: 2px solid #2f2f2f;
  }
}

.price-input-container p {
  text-align: left;
  font-size: 15px;
  transition: font-size 0.2s ease, display 0.1s;
}

.price-input-container input {
  display: none;
  background-color: rgba(200, 87, 164, 0);
}

.price-input-container.is-open input {
  display: block;
  border: none;
  color: black;
  width: 100%;
}

input:focus {
  border: none;
  outline: none;
}

.price-input-container.is-open p {
  font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Catalog Page */
.page {
  padding: 0px 5px;
  margin: 0px;
}

#catalog-pg-content {
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: flex-start;
}

.sticky {
  position: sticky;
  top: 0;
}