body {
  margin: 0;
  padding: 0;
}

#root {
  /* width: 1126px; */
  padding: 20px 100px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--gray-1);
}

h1,h2, h3, h4, h5, p, a, input,
select, label, .label_text,
.quantity-input-container button,
#quantity-input input {
  color: var(--gray-4);
}

button, button h3, .product-availability {
  color: var(--gray-1);
}

h1,h2, h3, h4, h5, p, a, input,
select, label, .label_text, .quantity-input-container button,
button, button h3, .product-availability, #quantity-input input {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--bold);
  margin: 0px 0;
  @media (max-width: 1024px) {
    font-size: var(--h1-font-size);
    margin: 20px 0;
  }
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--semi-bold);
  line-height: 118%;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: var(--h2-font-size);
  }
}
h3, #quantity-input input {
  font-size: var(--h3-font-size);
  margin: 0;
}
h4 {
  font-size: 18px;
  margin: 0;
}
p {
  line-height: 1.6;
}
p, h5, button, select, input {
  margin: 0;
  font-size: var(--p-font-size);
}
a {
  text-decoration: none;
}
.label_text, .price-input-container.is-open p {
  font-size: 10px;
}